<div class="container-fluid">
  <!-- particles.js container -->

  <div class="canvas-button">
    <a href="" target="_blank"><button class="logo"><img src="../../assets/img/apple.png" alt="This is Apple logo"></button></a>
    <a href="" target="_blank"><button class="logo"><img src="../../assets/img/android-logo.png"
          alt="This is Android logo"></button></a>
    <a href="http://www.sjintelligence.in/site/#/login" target="_blank"><button class="login"> Log in</button></a>
  </div>

  <div class="img"><img src="../../assets/img/mainlogo.png" alt=""></div>

  <div id="particles-js">
  </div>
</div>
