  <div class="scroll-element js-scroll slide-left">
    <div class="feature-icon-wrapper bg-gray section-space--ptb_100 ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title-wrap text-center section-space--mb_40">
              <h6 class="section-sub-title mb-20">Industries we Serve
                <span class="site-wave"><img src="../../assets/img/wave-2.png" alt="thumb"></span>
                <span class="site-wave site-wave2"><img src="../../assets/img/wave-2.png" alt="thumb"></span>
              </h6>
              <h3 class="heading">Services We Deliver<br> we provide <span class="text-color-primary"> truly
                  prominent IT solutions.</span></h3>
              <div _ngcontent-ygi-c18="" class="heading-divider"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="feature-list__two">
              <div class="row">
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-1" data-svg-icon="assets/images/svg/linea-basic-heart.svg"><svg
                            version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M1,21c0,20,31,38,31,38s31-18,31-38  c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"
                              style="stroke-dasharray: 198, 200; stroke-dashoffset: 0;">
                            </path>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">IT Design </h5>
                        <div class="text">We provide the most responsive and functional IT design
                          for companies and businesses worldwide.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-2" data-svg-icon="assets/images/svg/linea-basic-case.svg"><svg
                            version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62"
                                height="36" d="M1 18 L63 18 L63 54 L1 54 Z"
                                style="stroke-dasharray: 196, 198; stroke-dashoffset: 0;">
                              </path>
                            </g>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,30L63,30"
                              style="/* stroke-dasharray: 62, 64; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M27,30L27,36L37,36L37,30" style="/* stroke-dasharray: 22, 24; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M23,18c0,0,0-8,9-8s9,8,9,8"
                              style="/* stroke-dasharray: 27, 29; */stroke-dashoffset: 0;">
                            </path>
                            <style xmlns="" type="text/css" id="igtranslator-color"></style>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">IT Management</h5>
                        <div class="text">It’s possible to simultaneously manage and transform
                          information from one server to another.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-3" data-svg-icon="assets/images/svg/linea-basic-alarm.svg"><svg
                            version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M6,32A26,26 0,1,1 58,32A26,26 0,1,1 6,32"
                              style="/* stroke-dasharray: 164, 166; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M32,20L32,32L40,36" style="/* stroke-dasharray: 21, 23; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M21.995,56.005L15,63" style="/* stroke-dasharray: 10, 12; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M49,63L42.005,56.005" style="/* stroke-dasharray: 10, 12; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M1,8L5,4L15,6L3,18Z" style="/* stroke-dasharray: 44, 46; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M59,4L63,8L61,18L49,6Z" style="/* stroke-dasharray: 44, 46; */stroke-dashoffset: 0;">
                            </path>
                            <style xmlns="" type="text/css" id="igtranslator-color"></style>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Data Security</h5>
                        <div class="text">We provide the most responsive and functional IT design
                          for companies and businesses worldwide.
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-4"
                          data-svg-icon="assets/images/svg/linea-basic-geolocalize-05.svg">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                d="M28,19.001A4,4 0,1,1 36,19.001A4,4 0,1,1 28,19.001"
                                style="/* stroke-dasharray: 26, 28; */stroke-dashoffset: 0;">
                              </path>
                              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                d="M45,21.023C44.968,13.276,39.181,7,32,7   s-13,6.276-13,14.023C19,31.046,31.979,47,31.979,47S45.043,31.046,45,21.023z"
                                style="/* stroke-dasharray: 102, 104; */stroke-dashoffset: 0;">
                              </path>
                            </g>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M21,37L12,37L1,57L32,57L63,57L52,37L43,37"
                              style="/* stroke-dasharray: 126, 128; */stroke-dashoffset: 0;">
                            </path>
                            <style xmlns="" type="text/css" id="igtranslator-color"></style>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Business Reform</h5>
                        <div class="text">We provide the most responsive and functional IT design
                          for companies and businesses worldwide.
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-5" data-svg-icon="assets/images/svg/linea-ecommerce-money.svg">
                          <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M25,38A19,19 0,1,1 63,38A19,19 0,1,1 25,38"
                              style="/* stroke-dasharray: 120, 122; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M31,38A13,13 0,1,1 57,38A13,13 0,1,1 31,38"
                              style="/* stroke-dasharray: 82, 84; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M30,51L1,51L1,57L38,57L38,56"
                              style="/* stroke-dasharray: 73, 75; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M27,45L3,45L3,51L30,51" style="/* stroke-dasharray: 57, 59; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M26,39L5,39L5,45L27,45" style="/* stroke-dasharray: 49, 51; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M26,33L1,33L1,39L26,39" style="/* stroke-dasharray: 56, 58; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M29,27L3,27L3,33L26,33" style="/* stroke-dasharray: 55, 57; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M35,21L1,21L1,27L29,27" style="/* stroke-dasharray: 68, 70; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M40,20L40,15L3,15L3,21L35,21"
                              style="/* stroke-dasharray: 80, 82; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="37"
                              height="6" d="M1 9 L38 9 L38 15 L1 15 Z"
                              style="/* stroke-dasharray: 86, 88; */stroke-dashoffset: 0;">
                            </path>
                            <style xmlns="" type="text/css" id="igtranslator-color"></style>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Infrastructure Plan</h5>
                        <div class="text">We provide the most responsive and functional IT design
                          for companies and businesses worldwide.
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 wow move-up animated" style="visibility: visible;">
                  <div class="ht-box-icon style-02 single-svg-icon-box">
                    <!-- ht-box-icon Start -->
                    <div class="icon-box-wrap">
                      <div class="icon">
                        <div class="svg-icon" id="svg-6"
                          data-svg-icon="assets/images/svg/linea-basic-spread-text-bookmark.svg">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                            viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M1,6L1,54L32,58L63,54L63,6L32,10Z"
                              style="stroke-dasharray: 222, 224;stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,58L32,10"
                              style="/* stroke-dasharray: 48, 50; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                              d="M43,8L43,27L47,25L51,27L51,7"
                              style="/* stroke-dasharray: 48, 50; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M7,16L26,18"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M7,26L26,28"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M7,36L26,38"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M7,46L26,48"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M57,36L38,38"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M57,46L38,48"
                              style="/* stroke-dasharray: 20, 22; */stroke-dashoffset: 0;">
                            </path>
                            <style xmlns="" type="text/css" id="igtranslator-color"></style>
                          </svg></div>
                      </div>
                      <div class="content">
                        <h5 class="heading">Firewall Advance</h5>
                        <div class="text">We provide the most responsive and functional IT design
                          for companies and businesses worldwide.
                        </div>
                      </div>
                    </div>
                    <!-- ht-box-icon End -->
                  </div>
                  <div class="animations">
                    <div class="animations-container">
                      <div class="ani ani-1">
                        <div class="ani-cube">
                          <div class="cube-face face_front"></div>
                          <div class="cube-face face_right"></div>
                          <div class="cube-face face_left"></div>
                          <div class="cube-face face_top"></div>
                          <div class="cube-face face_bottom"></div>
                          <div class="cube-face face_back"></div>
                        </div>
                      </div>
                      <div class="ani ani-2">
                        <div class="ani-cube ani-cube-2">
                          <div class="cube-face face_front"></div>
                          <div class="cube-face face_right"></div>
                          <div class="cube-face face_left"></div>
                          <div class="cube-face face_top"></div>
                          <div class="cube-face face_bottom"></div>
                          <div class="cube-face face_back"></div>
                        </div>
                      </div>
                      <div class="ani ani-3">
                        <div class="ani-cube ani-cube-3">
                          <div class="cube-face face_front"></div>
                          <div class="cube-face face_right"></div>
                          <div class="cube-face face_left"></div>
                          <div class="cube-face face_top"></div>
                          <div class="cube-face face_bottom"></div>
                          <div class="cube-face face_back"></div>
                        </div>
                      </div>
                      <div class="ani ani-4">
                        <div class="ani-hamburger">
                          <div class="hamburger-line hamburger-line_top"></div>
                          <div class="hamburger-line hamburger-line_middle"></div>
                          <div class="hamburger-line hamburger-line_bottom"></div>
                        </div>
                      </div>
                      <div class="ani ani-5">
                        <div class="moving-square-frame"></div>
                        <div class="ani-moving-square"></div>
                      </div>
                      <div class="ani ani-6">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                          y="0px" viewBox="0 0 1024 1024">
                          <path id="followPath"
                            d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                          </path>
                          <path id="dashedPath"
                            d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                          </path>
                          <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                            <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                              rotate="auto">
                              <mpath xlink:href="#followPath"></mpath>
                            </animateMotion>
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
